<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gionee.gntravel"
    android:versionCode="2"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"
        tools:overrideLibrary="com.weiqun.customcalendar"/>

    <permission
        android:name="com.gionee.gntravel.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gionee.gntravel.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.gionee.cloud.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.gionee.gntravel.TravelApplication"
        android:allowBackup="true"
        android:icon="@drawable/travel_launch"
        android:label="@string/app_name" >
<!--         <uses-library android:name="android.test.runner" /> -->
 		<meta-data android:name="YJ_APP_ID" android:value="AF6B0F3CBF64B9CC" />
 		<meta-data android:name="YJ_CHANNEL_ID" android:value="gn_travel"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6kRZ5DBBIsKmVgAYGU7Hd5uS" >
        </meta-data>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="13493e65bd0f1a51c7b3e1f1e37a3640" />

        <activity
            android:name="com.gionee.gntravel.SplashActvity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gionee.gntravel.MainTabActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.FlightticketsDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.FlightOrderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.TrainticketsDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.ListOfMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.HotelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/label_arrivecity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.HotelActivitya"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/label_arrivecity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.PassengerListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gionee.gntravel.AddPassengerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.gionee.gntravel.EditMyPassengerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.gionee.gntravel.SuccessOfPayment"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gionee.gntravel.NewRouteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/newRoute"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:parentActivityName="com.gionee.gntravel.MainTabActivity"/>
        <activity
            android:name="com.gionee.gntravel.HotelDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.HotelBigImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.DetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.MapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.FoodActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.HotelOrderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.gionee.gntravel.DetailMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.HotelDescActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.HotelOrderSucActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.HotelCommonActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.HotelSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.gionee.gntravel.H5Activity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:parentActivityName="com.gionee.gntravel.MainTabActivity">
        </activity>
        <activity
            android:name="com.gionee.gntravel.H5PayOrder"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:parentActivityName="com.gionee.gntravel.MainTabActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.AddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.TrainTimeTableActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.RegInputPwActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.ForgetPwActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.ForgetPwActivitySecond"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.ForgetPwActivityFinish"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.InfomationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.HotelCommentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.EditPwActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.SelectTrainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.TrainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.MyOrderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.HotelDepositActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.OrderFormDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.MyTravelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.EditNickNameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.MapRouteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.MapRouteDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.WeatherActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.OrderDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.WeatherCityManageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.WeatherAddCityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.WeatherProvinceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.ContactsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.AddContactsActivity"
            android:configChanges="keyboardHidden|orientation"
   
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.EditContactsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.gionee.gntravel.MessageCenterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.gionee.gntravel.TripFormActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="com.gionee.gntravel.UpdateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
               android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog"></activity>
        <receiver
            android:name="com.gionee.travel.revicer.SmsRevicer"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.gionee.gntravel.receiver.InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.gionee.gntravel.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="com.gionee.gntravel.UpdateReceiver"/>
            </intent-filter>
        </receiver>
        
<!--         <receiver android:name="com.gionee.gntravel.widget.TravelWidget" > -->
<!--             <meta-data -->
<!--                 android:name="android.appwidget.provider" -->
<!--                 android:resource="@xml/widget_meta" /> -->

<!--             <intent-filter> -->
<!--                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
<!--                 <action android:name="com.gionee.gntravel.WIDGET_SHOW_TRAVEL" /> -->
<!--                 <action android:name="com.gionee.gntravel.WIDGET_SHOW_NEWS" /> -->
<!--                 <action android:name="com.gionee.gntravel.WIDGET_SHOW_STOCK" /> -->
<!--                 <action android:name="com.gionee.gntravel.WIDGET_SHOW_WEATHER" /> -->
<!--                 <action android:name="com.gionee.gntravel.REFRESH_TRIP" /> -->
<!--                 <action android:name="com.gionee.gntravel.WIDGET_SHOW_NEWS_RELOAD" /> -->
<!--                 <action android:name="com.gionee.gntravel.UPDATEWIDGET"/> -->
<!--                 <action android:name="com.gionee.gntravel.UPDATEWIDGET_NEWS"/> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
        <receiver android:name="com.gionee.gntravel.receiver.TripAlarmReceiver" >
            <intent-filter>
                <action android:name="com.goinee.gntravel.TripAlarm" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.gionee.gntravel.receiver.PushReceiver"
            android:permission="com.gionee.cloud.permission.SEND" >
            <intent-filter>
                <action android:name="com.gionee.cloud.intent.REGISTRATION" />

                <category android:name="com.gionee.cloud" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gionee.cloud.intent.RECEIVE" />

                <category android:name="com.gionee.cloud" />
            </intent-filter>
        </receiver>

        <service android:name="com.gionee.push.assist.EmptyService" />
        <service android:name="com.gionee.gntravel.service.SendRidToAPS" />
        <service
            android:name="com.gionee.gntravel.service.WidgetTravelRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name="com.gionee.gntravel.service.WidgetNewsRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name="com.gionee.gntravel.service.WidgetStockRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>

        <provider
            android:name="com.gionee.gntravel.provider.GNTravelProvider"
            android:authorities="com.gionee.provider.TravelProvider" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        													
        <service android:name="com.gionee.gntravel.service.GetNewsInfoService"></service>
    </application>

<!--     <instrumentation -->
<!--         android:name="android.test.InstrumentationTestRunner" -->
<!--         android:targetPackage="com.gionee.gntravel" > -->
<!--     </instrumentation> -->

</manifest>